{%extends 'base.html'%} {%block title%}Registration{%endblock%} {%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" /> {%endblock%} {%block content%}
<div class="main">
    <centre>
        <h1>Place Signup</h1>
    </centre>
    <div class="brand-title">
        <img src="{{url_for('static', filename='Images/logo.png')}}" width="100px" />
    </div>
    <div class="inputs">
        <form action="" method="POST">
            {{form.hidden_tag()}} {{form.name(placeholder="Place Name")}} {{form.email(placeholder="Email")}}{%if form.email.errors%} <br>
            <div class="error">{%for error in form.email.errors%} {{error}} {%endfor%}</div><br>{%endif%} {{form.password(placeholder="Password")}} {{form.confirm_password(placeholder="Confirm Password")}} {{form.address(placeholder="Address")}} {{form.city(placeholder="City")}}
            {{form.number(placeholder="Phone No.")}} {%if form.number.errors%} <br>
            <div class="error">{%for error in form.number.errors%} {{error}} {%endfor%}</div><br>{%endif%} {{form.submit}}

        </form>
    </div>
</div>
{%endblock%}